# tvdevices (see: $gip_doc/tvdevices.doc)
#
#anaximander\:0.0:1:${gip_exe}/gids:25344
#anaximander.astro.rug.nl\:0.0:1:${gip_exe}/gids:25344
#129.125.6.54\:0.0:1:${gip_exe}/gids:25344
#baade\:0.0:1:${gip_exe}/gids:25344
#baade.astro.rug.nl\:0.0:1:${gip_exe}/gids:25344
#129.125.6.213\:0.0:1:${gip_exe}/gids:25344
